<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>cv non formal</title>
  <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
  <link rel="stylesheet" href="assets/css/style.css">
</head>

<body>
  <div class="container">
    <section>
      <div>
        <div><img src="{{ data.foto }}" alt="picture" class="picture"></div>
      </div>
      <div>
        <div class="my-name">{{ data.nama }}</div>
        <div class="my-title">{{ data.job }}</div>
        <p>{{ data.deskripsi }}</p>
        <div class="links">
          <div class="link-item">
            <a href="#">{{ data.no_hp }}</a>
          </div>
          <div class="link-item">
            <a href="#">{{ data.email }}</a>
          </div>
          <div class="link-item">
            <a href="#">{{ data.portfolio }}</a>
          </div>
        </div> <!-- end links -->
      </div>
    </section>

    <section>
      <div class="section-title">Social Media</div>
      <div class="fixDown">
        <div class="skills-container">
          <ul class="rightN">
            {% for s in data.list_sosial_media %}
            <li> 
              <div>
                <b>{{ s.nama }}</b>
                <p>{{ s.link }}</p>
              </div>
            </li>
            {% endfor %}
          </ul>
        </div> <!-- end skills-container -->
      </div>
    </section>

    <section>
      <div class="section-title">Experience</div>
      <div class="fixDown">
        {% for p in data.list_pengalaman %}
        <div class="job">
          <div class="job-title-container">
            <div>
              <div class="job-company">{{ p.instansi }}</div>
              <div class="job-title">{{ p.nama }}/div>
            </div>
            <div>
              {{ p.to_date(p.tahun_mulai).year }} - {{ p.to_date(p.tahun_selesai).year }}
            </div>
          </div> <!-- end job-title container -->
          <p>{{ p.deskripsi }}</p>
        </div> <!-- end job -->
        {% endfor %}
      </div>
    </section>

    <section>
      <div class="section-title">Education</div>
      <div class="fixDown">
        {% for e in data.list_edukasi %}
        <div class="job">
          <div class="job-title-container">
            <div>
              <div class="job-company">{{ e.instansi }}</div>
              <div class="job-title">{{ e.jenjang }}</div>
            </div>
            <div>
              {{ e.to_date(e.tahun_mulai).year }} - {{ e.to_date(e.tahun_selesai).year }}
            </div>
          </div> <!-- end job-title container -->
          <p>{{ e.deskripsi }}</p>
        </div> <!-- end job -->
        {% endfor %}
      </div>
    </section>

    <section>
      <div class="section-title">Achievement</div>
      <div class="fixDown">
        {% for p in data.list_penghargaan %}
        <div class="job">
          <div class="job-title-container">
            <div>
              <div class="job-company">{{ p.instansi }}</div>
              <div class="job-title">{{ p.nama }}</div>
            </div>
            <div>
              {{ p.to_date(p.tahun).strftime('%d %B %Y') }}
            </div>
          </div> <!-- end job-title container -->
          <p>{{ p.deskripsi }}</p>
        </div> <!-- end job -->
        {% endfor %}
      </div>
    </section>
    <section>
      <div class="section-title">Skills</div>
      <div class="fixDown">
        <div class="skills-container">
          <ul>
            {% for k in data.list_kemampuan %}
            <li>{{ k.nama }}</li>
            {% endfor %}
          </ul>
        </div> <!-- end skills-container -->
      </div>
    </section>

    <section>
      <div class="section-title">Language</div>
      <div type="inline">
        {% for b in data.list_bahasa %}
        <span class="word-right">
          {{ b.nama }} ({{ b.level }})
        </span>
        {% endfor %}
      </div>
    </section>

    <section>
      <div class="section-title">References</div>
      <div class="fixDown">
        {% for r in data.list_rujukan %}
        <div class="job-company">{{ r.nama }} ({{ r.instansi }})</div>
        <div class="link-item">
          <a href="mailto:{{ r.email }">{{ r.email }}</a>&nbsp;-&nbsp;<p>{{ r.no_hp }}</p>
        </div>
        <br/>
        {% endfor %}
    </section>
  </div>
</body>

</html>